[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
flask = "*"
blockchain-parser = {git = "https://github.com/alecalve/python-bitcoin-blockchain-parser.git"}

[requires]
python_version = "3.7"
