<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
   <title>Bitcoin blockchain search</title>
   <link href={{ url_for('static', filename="css/bootstrap.css") }} rel="stylesheet" />
   <link href={{ url_for('static', filename="css/style.css") }} rel="stylesheet" />
</head>

<body>
   <div class="container-fluid">
      <nav class="navbar fixed-top navbar-dark bg-dark">
         <a href="index.html"><span class="navbar-brand mb-0 h1">FAAPM-e</span></a>
         <span class="navbar-brand">Blockchain Finder</span>
      </nav>
      <div id="output-area" class="row">
         <!-- tx=%s outputno=%d type=%s value=%s -->
         <div class="col-md-8 offset-md-2">
			<h3>Rendered in:</h3>
            <h6 id="render-time">{{ g.request_time() }}</h6>

             {% if tx is not none %}
				<h3>Transaction:</h3>
				<h6 id="tx-hash-title">{{ tx.hash }}</h6>

				<!-- INPUTS -->
				{% if tx.inputs|length > 0 %}
				<table class="table">
				   <thead>
						<tr>
							<th colspan="2">Inputs</th>
						</tr>
						<tr>
							<th scope="col">Number</th>
							<th scope="col">Transaction</th>
						</tr>
				   </thead>
				   <tbody>
					  {% for input in tx.inputs %}
					  <tr>
						 <td>{{ loop.index }}</td>
						 <td><a href="/search?tx_id={{ input.transaction_hash }}">{{ input.transaction_hash }}</a></td>
					  </tr>
					  {% endfor %}
				   </tbody>
				</table>
				{% else %}
				   <h2 style="padding-top:200px">No inputs</h2>
				{% endif %}

				<!-- OUTPUTS -->
				{% if tx.outputs|length > 0 %}
				<table class="table">
				   <thead>
						<tr>
							<th colspan="3">Outputs</th>
						</tr>
						<tr>
							<th scope="col">Number</th>
							<th scope="col">Type</th>
							<th scope="col">Value</th>
						</tr>
				   </thead>
				   <tbody>
					  {% for output in tx.outputs %}
					  <tr>
						 <td>{{ loop.index }}</td>
						 <td>{{ output.type }}</td>
						 <td>{{ output.value}}</td>
					  </tr>
					  {% endfor %}
				   </tbody>
				</table>
				{% else %}
				   <h2 style="padding-top:200px">No outputs</h2>
				{% endif %}
			{% else %}
               <h2 style="padding-top:200px">Transaction not found!</h2>
			{% endif %}
         </div>
      </div>
      <footer class="fixed-bottom navbar navbar-dark bg-dark">
         <a href="index.html"><span class="navbar-brand mb-0 h1">FAAPM-e</span></a>
      </footer>
   </div> <!-- Container fluid -->
</body>

</html>
