git+https://github.com/alecalve/python-bitcoin-blockchain-parser.git@a2c7b50ec0e83bd5460e994272df3d9a283d3f08#egg=blockchain-parser
Click==7.0
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
plyvel==1.0.4
python-bitcoinlib==0.5.0
redis==3.4.1
Werkzeug==0.15.0